fastapi
uvicorn
python-dotenv
openai

langchain
langchain-openai
langchain-community
langchain-experimental
langchain-core
langchain-text-splitters
langchain-huggingface

chromadb
sentence-transformers
rank-bm25

pymupdf
pymupdf4llm

sqlalchemy
psycopg2-binary

python-multipart
jinja2
pyyaml

pandas
numpy

python-docx
email-validator
python-jose[cryptography]
passlib[bcrypt]

alembic